* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather_container {
  color: white;
}

.temp{ 
      font-size: 4.5rem;
      
}

.time_location{
       font-size: 2rem;
}

.condition{
         margin: 0.5rem;
         margin-left: 0.2rem;
}

nav{
  position: fixed;      
  bottom: 30px;         
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}


.search_area{
      padding: 0.5rem ;
      outline: black;
      border: black;
      color: black;
      background-color: white;
      font-size:1.1rem;
      border-bottom: 2px solid white;
}

nav form button{
      padding: 0.5rem;
      background-color: white;
      margin-top:1rem;
      font-size: 1.1rem;
      outline: black;
      border: black;
}
      cursor: pointer;

